.hr2{
    display: none;
}

.six-box h2 {
    margin-left: 0;
    text-align: center;
    font-size: x-large;
}
.six-box {
    padding: 0 0 20px 0;
}

.five-box h2 {
    margin-left: 0;
    text-align: center;
    font-size: xx-large;
}

.hr1{
    display: none;
}

.syllabus-block {
    flex-direction: column;
    width: 151px;
    padding: 15px;
    border-radius: 50px;
}

.book {
    height: 145px;
    width: 120px;
    margin: 20px 12px 20px 12px;
}

.box-four {
    text-align: center;
    padding: 60px 0px;
}

.card {
    width: 205px;
    flex-direction: column;
}

.footer{
    flex-direction: column;
    border-radius: 15px;
}

.contactblock{
    padding: 25px;
}

.signalandcontrol,.powerandipr{
    flex-direction: column;
}
.dspandpse,.SWgearandHV,.drivesandDIP,.LPICandEPG,.management{
    flex-direction: column;
}

.fifth-sem {
    width: 313px;
}
.sixth-sem,.seventh-sem {
    width: 313px;
}

.subject2 {
    padding: 30px 0px;
}
.subject1 {
    padding: 0 0px;
}
.subject5,.subject6,.subject7,.subject8,.subject9 {
    padding: 10px 0px;
}
.subject4 {
    padding: 10px 0px;
}

.ramaiah-logo {
    margin: 5px auto;
}

.box h1 {
    margin: 0;
    font-size: 67px;

}
.box h2 {
    margin: auto;
    font-size: 28px;
}

.waste1,.waste{
    display: none;
}

.subject {
    padding: 12px 1px;
}

.header {
    flex-direction: row;
    padding: 10px;
}
.header1{
    border-radius: 10px;
}
.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,rgb(12, 12, 12),rgb(40, 38, 38), rgb(61, 61, 61));
    max-width: 100%;
    border-radius: 10px;
    transition: 1s;
}

.hide{
    display: none;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
}


.navbar {
    padding-top: 15px;
    display: none;
}

.logo-name {
    justify-content: center;
}

.box {
    left: 30px;
}

.animation h3 {
    font-size: large;
}

.navbar {
    justify-content: center;
}
.navbar a{
    margin: 0 5px 0 5px;
}
.navbar i{
    margin-right: 2px;
}

.ani-box1 h3{
    font-size: large;
}
.ani-box h3{
    font-size: large;
}

#small-small p{
    font-size: small;
}